.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-image {
  margin: 20px 0;
  width: 30%;
}
h1 {
  font-size: 2.5rem;
}

.button {
  text-decoration: none;
  background-color: #084f2d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
